<h1>Home Page</h1>
{{#if organisations}}
<hr>
	<h2>Your Organisations</h2>
	<p>Organisations that you belong to.</p>
	<div class="row">
		{{>organisations}}
	</div>
{{/if}}

{{#if teams}}
<hr>
	<h2>Your Teams</h1>
	<p>Teams that you belong to.</p>
	<div class="row">
		{{>teams}}
	</div>
{{/if}}

{{#if keys}}
	<h1>Your accounts</h1>
	{{#each keys}}
		<div class="key">
			{{#if this.image}}
				<img class="key-image" src="{{this.image}}"/>
			{{/if}}
			<h2 class="key-name">{{this.name}}</h2>
		</div>
	{{/each}}
{{/if}}