<div style="text-align: center;">
	<h1 class="page-title">Signin Page</h1>
	<form action="signin" method="post">
		<input type="text" name="username"><br>
		<input type="password" name="password"><br>
		<button action="submit">Submit</button>
	</form>
</div>