<div class="new-organisation col-md-6">
	<h1>New Organisation</h1>
	<div class="panel panel-default">
		<div class="panel-body">
			<form class="neworganisation-form" action="/organisations" method="post">
				<div class="form-group">
					<label for="name">Organisation Name</label>
					<input type="text" class="form-control" id="name" name="name">
				</div>
				<div class="form-group">
					<label for="description">Organisation Description</label>
					<input type="text" class="form-control" id="description" name="description">
				</div>
				<button type="submit" action="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	</div>
</div>
<div class="col-md-6">
	<h1>What are Organisations?</h1>
	<div class="panel panel-default help-box">
		<div class="panel-body">
			<p>Organisations are collections of people and keys. Not only this, but organisations can also contain teams in order to further organise the organisations' people.</p>
			<p>For instance, in a typical organisation (in this case a business), two seperate teams would be <b>HR</b> and <b>Finance</b>.</p>
			<p>The organisation may have global accounts for things like Magazine subscriptions. The HR team may have its own private accounts for employee management websites, and the Finance team may have it's own accounts for Payroll software.</p>
		</div>
	</div>
</div>